.y {
    background-image: url("/static/images/stock1.jpeg");
    background-attachment: fixed;
}
.btn {
    background-color: aliceblue;
}
#b {
    background-image: url("/static/images/download.jpg");
    background-attachment: fixed;
}
body {
    color: #1a202c;
    text-align: left;
}

body {
    background: -webkit-linear-gradient(left, #3a3b3b, #5a676b);
}
.para {
    font-size: 7rem;
    color: rgb(59, 57, 57);
    background-color: #e2e8f07e;
}
.para2 {
    font-size: 5rem;
    color: gray;
}
.span1 {
    color: white;
}
.para:hover {
    color: #e2e8f07e;
    background-color: rgb(59, 57, 57);
}
